* {
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
}

:root, html, body {
    margin: 0;
    height: 100%;
}

body, [theme="green"] {
    --background: lightgreen;
    --foreground: black;
    --accent: green;
    --accent-inverse: blue;
    --border-radius: 50px;
    --gap: 10px;
    --pad: 10px;
    --borders: 10px;
}

body {
    --transitions: 200ms ease-out;

    max-width: 1200px;
    margin: auto;

    background-image: url(bg.webp);
    background-size: cover;

    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    font-size: larger;

    overflow-x: hidden;
    min-height: max-content;
    padding: 30px;
}

body {
    color: var(--foreground);
}

img {
    contain: size;
}

#main-grid {
    display: grid;
    grid-template-areas:
        "menu about about"
        "menu latest latest"
        "menu latest latest"
        "big-footer big-footer footer"
    ;

    grid-template-columns: 260px 150px 1fr;
    grid-template-rows: 220px max-content minmax(300px, 1fr) 250px;
    gap: var(--gap);

    width: 100%;
    min-height: 100%;
}

#menu {
    grid-area: menu;
    height: fit-content;
}

#about {
    grid-area: about;
}

#latest {
    grid-area: latest;
}

#footer {
    grid-area: footer;
}

#big-footer {
    grid-area: big-footer;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}


.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.even {
    justify-content: space-between;
}

.grow {
    flex-grow: 1;
}

.cover {
    object-fit: cover;
}

.full {
    width: 100%;
    height: 100%;
}

.round {
    border-radius: 50%;
}

.item {
    position: relative;
    background: var(--background);

    border: solid var(--accent) var(--borders);
    border-radius: var(--border-radius);
}

.center {
    text-align: center;
}

.em2 {
    font-size: 2rem;
}

.em3 {
    font-size: 3rem;
}

.hanger {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
    clip-path: inset(0 0 0 0);

    width: calc(100% - var(--border-radius));
    height: 100%;
    margin: auto;

    position: relative;
    top: calc(var(--borders) * -1);
}

.item > img.full {
    border-radius: calc(var(--border-radius) - var(--borders));
}

.pad {
    padding: calc(var(--pad)*2) var(--pad);
}

.gap {
    gap: var(--gap);
}

.has-bubble-top {
    --size: 120px;
    --gap: 5px;

    position: relative;
    margin-top: calc(var(--size)/2 - var(--borders)/2);

    mask-clip: no-clip;
    mask-image: radial-gradient(
        circle at 50% var(--gap),
        black calc(var(--size)/2 - 1px),
        transparent calc(var(--size)/2),
        transparent calc(var(--size)/2 + var(--gap)),
        black calc(var(--size)/2 + var(--gap) + 1px)
    );

    padding-top: calc(var(--pad) + var(--size)/2 + var(--borders));
}

.bubble-top {
    border: var(--borders) solid var(--accent);
    border-radius: 50%;

    width: var(--size);
    height: var(--size);

    background: var(--background);
    position: absolute;
    left: calc(50% - var(--size)/2);
    top: calc((var(--borders)/2 + var(--size)/2) * -1);
}

.bubble-top::before {
    content: "";
    position: absolute;
    width: calc(var(--size) + (var(--borders) + var(--gap))*2);
    height: calc(var(--size) + (var(--borders) + var(--gap))*2);

    border: calc(var(--borders)) solid var(--accent);
    border-radius: inherit;
    box-sizing: border-box;
    clip-path: inset(calc(var(--size)/2 + var(--borders)/2 + var(--gap)) 0px 0px 0px);
    left: calc(var(--borders) * -2 - var(--gap));
    top: calc(var(--borders) * -2 - var(--gap));

    --border-width: 56px;

    border-image: url(borders/10-56.webp);
    border-image-slice: 56;
    border-image-width: 70px;
    border-image-repeat: round;
}

.bottom-notch-container {
    position: absolute;
    left: 0;
    right: 0;
    height: 200px;
    bottom: calc(var(--borders)/-2 - 100px);

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.bottom-notch {
    position: relative;

    padding: var(--pad);
    background-color: var(--background);
    border: var(--accent) solid var(--borders);
    border-radius: 1000px;
    transition: var(--transitions);
}

.bottom-notch > * {
    position: relative;
}

.notch-bubble {
    --size: 60px;

    position: absolute;
    background-color: var(--background);
    border: var(--accent) solid var(--borders);
    border-radius: 50%;

    height: var(--size);
    width: var(--size);

    left: calc(50% - var(--size)/2);
    top: calc(var(--size)/-2);

    text-align: center;
    transition: var(--transitions), font-size 0s;
}

.notch-bubble::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    background-color: var(--background);
    
    left: calc(var(--borders) * -1);
    right: calc(var(--borders) * -1);
    bottom: calc(var(--borders) * -1);
    top: calc(50% - 3px);
}

.notch-bubble > .inner {
    position: relative;
    z-index: 1;
}

.has-bubble-right {
    --size: 50px;
    margin-right: calc(var(--size)/2);
}

.bubble-right-margin {
    margin-right: 25px;
}

.has-bubble-right:not(:has(> img)) {
    padding-right: calc(var(--pad) + var(--size)/2);
}

.bubble-right {
    background-color: var(--background);
    border-radius: 50%;
    border: solid var(--accent) var(--borders);
    width: var(--size);
    height: var(--size);

    position: absolute;
    right: calc(var(--size)/-2 - var(--borders)/2);
    top: calc(50% - var(--size)/2);
    transition: var(--transitions);

    display: flex;
    justify-content: center;
    align-items: center;
}

.no-last-margin > :last-child {
    margin: 0;
}

a {
    text-decoration: none;
    color: initial;
}

wavy {
    text-decoration: wavy underline var(--accent);
}

.clip {
    overflow: auto;
}

.centered-list {
    margin: auto;
    width: fit-content;
    position: relative;
}

.justify {
    text-align: justify;
}

.fa-solid {
    color: var(--accent);
}

.drawn-border {
    --border-width: 50px;

    border-image: url(borders/10-48.webp);
    border-image-slice: 50;
    border-image-width: 50px;
    border-image-repeat: round;
}

.drawn-border-23, .drawn-border-23-grow {
    --border-width: 23px;

    border-image: url(borders/10-23.webp);
    border-image-slice: 23;
    border-image-width: 23px;
    border-image-repeat: round;
}

.drawn-border-23-grow {
    border-image-width: calc(23px + var(--size)/50*5);
}

.drawn-border-56 {
    --border-width: 56px;

    border-image: url(borders/10-56.webp);
    border-image-slice: 56;
    border-image-width: 56px;
    border-image-repeat: round;
}

.hanger {
    border-image-outset: var(--border-width) 0 0 0;
}

@media (width <= 1090px) {
    #main-grid {
        grid-template-areas:
            "menu about"
            "menu latest"
            "big-footer latest"
            "big-footer latest"
            "footer footer"
        ;
        
        grid-template-columns: 300px 1fr;
        grid-template-rows: 220px max-content 1fr 250px 250px;
        height: calc(100% + 250px + var(--gap));
    }
}

@media (width <= 800px) {
    #main-grid {
        grid-template-areas:
            "menu"
            "about"
            "latest"
            "big-footer"
            "footer"
        ;
        
        grid-template-columns: 1fr;
        grid-template-rows: max-content 200px 400px 200px 700px;
        height: initial;
    }

    .mobile-no-right-margin {
        margin-right: 0px;
    }

    .mobile-flex-vertical {
        flex-direction: column;
    }
}